# EDUNET FOUNDATION- Self Paced Exercise Solution Notebook

# Lab - 1 Self Paced Exercise Solution

# Dataset:
- train.csv
- test.csv

# Problem Statement 
- For the Titanic challenge we need to guess wheter the individuals from the test dataset had survived or not.

# Import necessary modules

In [31]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
import pandas as pd
import numpy as np
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

# Loading data

In [13]:
df = pd.read_csv("train.csv")
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

# checking Null values

In [5]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

# Data Pre-processing

In [8]:
df['Age'].fillna(df['Age'].mean(), inplace=True)
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

# label Encoding

# Delete unnecessary Columns(Features)

In [19]:
X = df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch']]
X = pd.get_dummies(X, columns=['Sex'], drop_first=True , dtype=int)
y = df['Survived']
X.head()

   Pclass   Age  SibSp  Parch  Sex_male
0       3  22.0      1      0         1
1       1  38.0      1      0         0
2       3  26.0      0      0         0
3       1  35.0      1      0         0
4       3  35.0      0      0         1

# Split into training and test set

In [25]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

X_train, X_val, y_train, y_val = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

# scaling of X (train and test data)

# Model selection and implimentation

In [42]:
model = DecisionTreeClassifier(random_state=42)
model.fit(X_train, y_train)
y_pred = model.predict(X_val)

a = [[3 , 0 , 27 ,0 , 2]]
b = model.predict(a)
b

array([0], dtype=int64)

# Accuracy Check

In [32]:
accuracy = accuracy_score(y_val, y_pred)

print(f'Accuracy on the validation set: {accuracy:.2f}')

Accuracy on the validation set: 0.79

In [45]:
# Load the test data
test_data = pd.read_csv('test(1).csv')

# Perform the same data preprocessing and feature engineering as done for the training data

# Select features (X_test)
X_test = test_data[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch']]

# Convert categorical variables to numerical using one-hot encoding
X_test = pd.get_dummies(X_test, columns=['Sex'], drop_first=True, dtype=int)

# Handle missing values (you might need to handle missing values differently based on your data)
X_test['Age'].fillna(X_test['Age'].mean(), inplace=True)

# Scale the features using StandardScaler (use the same scaler as before)
X_test_scaled = scaler.transform(X_test)

# Make predictions on the test set
y_test_pred = model.predict(X_test_scaled)

# Add the predicted 'Survived' column to the test data
test_data['Survived'] = y_test_pred

# Save the final predictions file with all columns
test_data.to_csv('final_predictions.csv', index=False)