In [1]:
print(3+1)

4

In [4]:
for i in range(0,10,2):
    print (i)

0
2
4
6
8

In [3]:
x = 10

if x > 9:
    print(f"{x} is Greater than 9")

if x == 10:
    print(f"{x} is Equal to 10")

if x < 9:
    print(f"{x} is less than 9")

10 is Greater than 9
10 is Equal to 10

Problem1: Write a python program to find out the simple interest

In [7]:
def SimpleInt( p , r , t):
    si = (p*r*t)/100
    return si

print("Simple Interest  is " ,  SimpleInt(3000,7,2))

Simple Interest  is  420.0

Problem2: Wrie python program to check armstrong number

In [18]:
def armstrong(n):
    temp = n
    sum = 0
    while temp != 0:
        digit = temp % 10
        sum = sum + (digit * digit * digit)
        temp = temp // 10
    if sum == n:
        print(f"{n}  is Armstrong")
    else:
        print(f"{n} is not Armstrong")

armstrong(153)
armstrong(122)

153  is Armstrong
122 is not Armstrong

Problem 1:Predict proper output for the below code

In [20]:
a = "Hello, World!"
print(a[-1]) #ans is !

!

Problem 2: Write a python program to concatenate two strings

In [26]:
str1 = "Bhavik"
str2 = "Sangahr"
#Approach 1
str = str1 + " " +str2 
print(str)

#Approach 2
print(str1 , str2)

#Approach 3
str = " ".join([str1, str2])
print(str)

#Approach 4
str = f"{str1} {str2}"
print(str)

Bhavik Sangahr
Bhavik Sangahr
Bhavik Sangahr
Bhavik Sangahr

Problem 3: Write a python program to reverse string

In [1]:
str = "Bahvik"
rev = ""
n = len(str) - 1
while n >= 0:
    rev += str[n]
    n = n - 1

print(rev)

#--------------------------------
str_value = "Hello World!"
rev = ''.join(reversed(str_value))
print(rev)

#--------------------------------


str_value = "Bahvik"
rev = str_value[::-1]
print(rev)

kivhaB
!dlroW olleH
kivhaB

In [28]:
# Create a list named lst1 with mixed data types
lst1 = ["parul", 22, "Bharat", 45.5, "vadodara", 99]

# Print the type of lst1, its content, and the first element
print(type(lst1))
print(lst1)
print(lst1[0])

# Access the second element of lst1
lst1[1]

# Get the length of the list
len(lst1)

# Print even numbers from 0 to 9 using a for loop
for i in range(0, 10, 2):
    print(i)

# Remove the element 22 from lst1
lst1.remove(22)
lst1

# Delete the first element of lst1
del lst1[0]
lst1

# Append the string "Bhavik" to lst1
lst1.append("Bhavik")
lst1

# Insert the string "Ak" at the beginning of lst1
lst1.insert(0, "Ak")
lst1

# Create another list named lst2
lst2 = ["Noon", "Night"]

# Extend lst1 with the elements of lst2
lst1.extend(lst2)
lst1

<class 'list'>
['parul', 22, 'Bharat', 45.5, 'vadodara', 99]
parul
0
2
4
6
8

['Ak', 'Bharat', 45.5, 'vadodara', 99, 'Bhavik', 'Noon', 'Night']